header {
  text-align: center;
}

header a {
  padding: 10px;
  background-color: grey; 
}

#featured-property img {
  display: block;  
  margin-left: auto;  
  margin-right: auto;  
}  

figcaption {
  text-align: center;
} 
  
#featured-property p{  
  max-width: 800px;
  text-align: center;
  display: block;  
  margin-left: auto;  
  margin-right: auto; 
}

#details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}